DATABASE_URL=postgresql://postgres:postgres@127.0.0.1:5433/parsley
BUILD_PATH=apps/build_engine/builds
SECRET_KEY=your_secret_key
DOCKERHUB_USERNAME=your_docker_username
VPS_HOST=
VPS_USER=
VPS_PASSWORD=your_root_password
VPS_SSH_KEY_PATH=
BASE_DOMAIN=